@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;500;700;800;900&display=swap');
body{
    
font-family: 'Poppins', sans-serif;

}
.header{
    background-color: #9376e0;
}
.header-section{
    max-width: 1250px;
    display: flex;
    margin: 0 auto;

}
.nav-container{
    /* border: 2px solid red; */
    display: flex;
    min-height: 40px; 
    /* align-items: center; */
    width: 50%;
}
.nav-container img {
    width: 90px;
    object-fit: cover;
}
.nav-container p{
    font-size: 25;
}
.special{
    color: #e893cf;
    font-weight: 900;
    font-size: 20px;
}
.items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-container a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.login-button {
    padding: 10px 20px;
    background-color: #e893cf;
    border-radius: 9px;
}
.items-container .login-button a{
    color: black;
}
.banner-section{
    max-width: 1250px;
    margin: 0 auto;
    border: 2px solid tomato;
    /* background-color: yellow; */
    min-height: 400px;
    display: flex;
    background-color: #e6e9eb;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}
.text-container{
    border: 2px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.banner-image-container{
    border:2px solid violet;
    width: 50%;
    position: relative;
}
.banner-image-container img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
}
.banner-heading{
    background: linear-gradient(45deg,#e893cf,#9376e0);
    background-clip: text;  
    color: transparent;
    font-size: 60px;
}
#collections{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.fa-brands{
    font-size: 45px;
}
.icons{
    display: flex;
    gap: 15px;
}


.common-button{
    padding: 10px 20px;
    /* border: 2px solid tomato; */
    border-radius: 5px;
}
/* .button-inline{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
} */

